*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
    background-color: #1f2937;
    

}



.header{ display: flex;
    justify-content: space-between;
    height: 100px;
    width: auto;
    background-color: #1f2937;
    justify-content: space-around;
    
}

.logo{
    display: flex;
    width: fit-content;
    color: white;
}

.info, li, ul{
    display:flex;
    font: 300;
    width: 400px;
    list-style: none;
    justify-content: space-between;
    color: white;

}



.headbox{
    display: flex;




}



.headinfo{
    display: flex;
    flex-direction: column;
   color: white;
   
   margin: 130px 250px;
   
   
}

.webdisc{
   
    width:fit-content;
    font-size: 48px;
    font-weight: 900;
}

.caption{
    
    width: 400px;
    font-size: 18px;
}


.button1{
    display: block;
    height: 30px;
    width: 80px;
    border: 1px solid #E5E7EB ;
    border-radius: 2px;
    background-color: #3882f6;
   
}

.imgbox{
    align-self: center;
    justify-self: center;
  
    height: 240px;
    width: 520px;
    box-sizing: content-box;
}

.ceedee{
    display: block;
    height: 240px;
    width: 520px;
   
    object-fit:contain;
}







.infotitle{

    display: flex;
    width: auto;
   
    justify-content:center ;
    background-color: white;
    font-size: 36px;
    font-weight: 900;

}

.siteinfo{
    display: flex;
    height: auto;
    width: auto;
    gap: 30px;
    justify-content: center;
    
    background-color: white;

}




.box1,.box2,
.box3,.box4{
    display: flex;
    height: 125px;
    width: 125px;
    border: 2px solid #3882f6 ;
    border-radius: 10px;
    background-color: white;
}


.siteinfotext{
    display: flex;
    height: auto;
    width: auto;
    gap: 30px;
    justify-content: center;
   
    background-color: white;

}

.box1text,.box2text,
.box3text,.box4text {
   display: flex;
    height: 90px;
    width: 125px;
    
    border-radius: 10px;
    background-color: white;
    align-items: center;
    justify-content: center;

}


.quotebox {
    height: 300px;
    width: auto;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
   

}

.quote{
    
    background-color:lightgray ;
   
    height: 150px;
    width: 1000px;
    font-size: 36px;
    font-weight: 50;
    font-style: italic;
}
.author{
    display: flex;
    background-color: lightgray;
    
    height: 40px;
    width: 500px;
    justify-content: end;
    font-size: 26px;
    font-weight: bold;

}








.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 200px;
    width: auto;

}
.cta{
    background-color: #3882f6;
    height: 70px;
    width: 600px;
    border-radius: 5px;
    border: 2px solid purple;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}



.ctatext, p{
    color: white;
    background-color: #3882f6;
    padding: 0px;
}

.button2{
    color: white;
    display: block;
    height: 30px;
    width: 80px;
    border:  1px solid #E5E7EB ;
    border-radius: 5px;
    background-color: #3882f6;

}


